*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    background-color: #1c2833;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}
.logo{
    color: white;
    margin-left: 30px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 7px 13px;
    transition: 0.5s;
}
nav ul li a:hover, nav ul li a.active{
    background-color: #566573;
    border-radius: 3px;
}
#click{
    display: none;
}
.button-bar{
    font-size: 22px;
    color: white;
    display: none;
    cursor: pointer;
}
 
/* header section work start is here  */

header{
    background: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 88vh;
}

/* main section work start is here  */


.service-head{
    background-color:#12223E ;
}
.service-tittle{
    letter-spacing: 0.2em;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 40px 0 25px 0;
}
.serice-area{
    width: 70vw;
    margin: auto;
    padding-bottom: 50px;
}
.service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.service-box{
    padding: 15px;
    background-color: white;
    text-align: center;
    box-shadow:5px 5px 10px gray ;
    border: 1px solid green;
    border-radius: 4px;
}
.service-box > i{
    font-size: 40px;
}
.service-box > h2{
    margin: 15px 0;
}

/* smart area work is here  */

.smart-area-container{
    background-color: #154360;
    padding-bottom: 100px;
}
.smart-area-tittle{
    color: yellow;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 23px;
    padding: 50px 0 10px 0;
}
.smart-area-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}
.smart-area-text{
    color: white;
}
.smart-area-text h3{
    text-transform: uppercase;
}
.smart-area-text h2{
    font-size: 30px;
    margin: 10px 0;
}
.smart-area-text a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-top: 40px;
    display: inline-block;
    background-color: bisque;
    border-radius: 5px;
    padding: 10px 30px;
}

/* 3rd section work start here  */

.about-container{
    background: url("images/about-section.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
}

.about-head{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
}
.left-box h2{
    margin-bottom: 20px;
}
.left-box ul{
    margin: 10px 0 10px 15px;
}
.left-box a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background-color: yellow;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}
.right-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:20px;
    color: black;
    text-align: center;
}
.box-head{
    background-color: #eaecee;
    border: 2px solid limegreen;
    border-radius: 5px;
    padding: 25px 15px;
}
.right-box h2{
    font-size: 20px;
    margin: 10px 0;
}

/* 4th section work start is here  */

#section{
    background-color: #154360;
    padding: 100px 0;
}
.section-image img{
    width: 100%;
}
.section-head{
    display: flex;
    gap: 40px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
}
.section-container p{
    line-height:1.5;
    text-align: justify;
    margin: 20px 0;
}
.section-container h2{
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid red;
}
.section-container h3{
    font-size: 25px;
    margin: 15px 0;
}
.section-container a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.5s;
}

.container-icon{
    text-align: center;
}
.container-icon a{
    margin: 5px 5px;
    border: 1px solid black;
}
.section-container a:hover{
    background-color: wheat;
}











/* nav bar media queries work start is here  */

@media only screen and (max-width:688px){
    .button-bar{
        display: block;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~ .button-bar i::before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #17202a;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        transition: all 0.5s ease;
    }
    nav ul li{
        margin: 50px 0;
    }
    nav ul li a:hover{
        background: none;
        color: red;
    }
    nav ul li a.active{
        background: none;
    }
}

/* nav bar media queries work stop is here  */
 
@media only screen and (max-width:688px){
    /* service area start  */
    .service{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        width: 100%;
    }
    /* serice-area stop  */
    /* smart area start  */
    .smart-area-box{
        margin-left: 40px;
        margin-right: 40px;
        display: block;
    }
    .smart-area-image{
        width: 100%;
        margin-bottom: 50px;
    }
    /* smart area stop  */

    /* about section start  */
    .about-head{
        display: block;
        margin-left: 30px;
        margin-right: 30px;
    }
    .right-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:15px;
        margin-top: 50px;
    }
    /* about section stop  */

    /* advance section start */
    .section-head{
        display: block;
        margin-left: 30px;
        margin-right: 30px;
    }
    .container-icon{
        text-align: left;
    }
    .container-icon a{
        margin: 10px 10px;
    }
    .section-container h2{
        margin-top: 20px;
    }
    /* advance section stop  */
}
@media only screen and (min-width:689px) and (max-width:992px){
    /* service area start  */
    .service{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        width: 100%;
    }
    /* serice-area stop  */
    /* smart area start  */
    .smart-area-box{
        margin-left: 40px;
        margin-right: 40px;
        display: block;
    }
    .smart-area-image{
        width: 100%;
        margin-bottom: 50px;
    }
    /* smart area stop  */
    /* about section start  */
    .about-head{
        display: block;
        margin-left: 70px;
        margin-right: 70px;
    }
    .right-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:30px;
        margin-top: 50px;
    }
    /* about section stop  */
    /* advance section start  */
    .section-head{
        display: flex;
        margin-left: 70px;
        margin-right: 70px;
    }
    /* advance section stop */
}                        